body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4; // Color de fondo
}

header {
    background-color: #333; // Color de fondo del encabezado
    color: white; // Color del texto
    padding: 20px;
    text-align: center;

    h1 {
        margin: 0;
        font-size: 2.5em; // Tamaño del título
    }

    p {
        font-size: 1.2em; // Tamaño del subtítulo
    }
}

.container {
    display: flex;
    flex-wrap: wrap; // Permite que las secciones se ajusten a múltiples filas
    justify-content: flex-start; // Alinea las secciones a la izquierda
    margin: 20px; // Margen alrededor del contenedor
}

.about {
    background-color: white; // Color de fondo de las secciones
    border-radius: 5px; // Bordes redondeados
    box-shadow: 0px 7px 8px 0px rgba(0, 0, 0, 0.3); // Sombra
    padding: 20px; // Espaciado interno
    margin: 10px; // Espaciado entre secciones
    flex: 1 1 calc(33.33% - 20px); // 3 columnas en pantallas grandes

    h2 {
        font-size: 1.5em; // Tamaño del título de la sección
        margin-top: 0; // Sin margen superior
    }

    p {
        font-size: 1em; // Tamaño del texto
        color: #666; // Color del texto
    }
}

footer {
    text-align: center; // Centrar el texto del pie de página
    padding: 10px;
    background-color: #333; // Color de fondo del pie de página
    color: white; // Color del texto
    position: relative;
    bottom: 0;
    width: 100%;
}

// Media Queries para Responsividad
@media screen and (max-width: 768px) {
    .about {
        flex: 1 1 calc(50% - 20px); // 2 columnas en pantallas medianas
    }
}

@media screen and (max-width: 480px) {
    .about {
        flex: 1 1 100%; // 1 columna en pant